.ingredientListContainer {
    width: 100%;
    margin-top: 10px;
    background-color: #f9f9f9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .ingredientItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #8b8b8b;
  }
  
  .ingredientInfo {
    display: flex;
    align-items: center;
  }
  
  .ingredientQuantity {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .ingredientName {
    font-size: 1.1rem;
    color: #333;
  }
  
  .ingredientActions {
    display: flex;
    gap: 10px;
  }
  
  .ingredientInfo select {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .editButton,
  .deleteButton,
  .saveButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .editButton {
    background-color: #4caf50;
    color: white;
  }
  
  .saveButton {
    background-color: #2196f3;
    color: white;
  }
  
  .deleteButton {
    background-color: #f44336; /* Vermelho padrão */
    color: white;
  }
  
  .saveButton + .deleteButton {
    background-color: #808080;
    cursor: not-allowed;
  }
  
  .editButton:hover,
  .saveButton:hover,
  .deleteButton:hover {
    opacity: 0.8;
  }
  
  .editIngredientQuantity,
  .editIngredientName,
  .editIngredientTypeQuantity {
    width: 80px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .editIngredientQuantity:focus,
  .editIngredientName:focus,
  .editIngredientTypeQuantity:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .ingredientsContainer li {
      font-size: 1rem;
    }
  }
  