.mini-calendar-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .mini-calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .quantity-input {
    width: 50px;
    margin-left: 5px;
  }
  
  .multi-select-checkbox {
    margin-right: 5px;
  }
  
  .card-buttons-mini-calendar {
    display: flex;
    margin-top: 4px;
    justify-content: end;
    align-items: center;
  }