.shopping-list-detail-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.shopping-list-detail-container h1 {
    margin-bottom: 10px;
}

.shopping-list-detail-container ul {
    list-style-type: none;
    padding: 0;
}

.shopping-list-detail-container li {
    background: #fff;
    padding: 10
}

.fixed-carousel {
    width: 600px;
    height: 350px;
    overflow: hidden;
    margin: auto;
  }

/* tamanhos de texto */
h1 {
    font-size: 3rem !important;
  }
  
  h2 {
    font-size: 2.5rem !important;
  }
  
  h3 {
    font-size: 2rem !important;
  }
  
  p {
    font-size: 1.125rem !important;
    line-height: 1.6;
  }
  
  /* Ajuste para telas menores */
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    p {
      font-size: 1rem;
    }
  }