.shopping-list-detail-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.shopping-list-detail-container h1 {
    margin-bottom: 10px;
}

.shopping-list-detail-container ul {
    list-style-type: none;
    padding: 0;
}

.shopping-list-detail-container li {
    background: #fff;
    padding: 10
}