/* modal.css */
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal-overlay .modal-body {
    background-color: white;
    padding: 2rem; /* Ajuste de padding para maior controle */
    height: 80vh; /* Ocupa 80% da altura da tela */
    width: 90vw; /* Ocupa 90% da largura da tela */
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /* Inclui o padding dentro da altura e largura */
    overflow-y: auto; /* Permite rolagem interna, se necessário */
}

.modal-overlay .modal-body h2 {
    font-size: 32px;
    margin: 0;
}

.modal-overlay .modal-body .input-container {
    width: 100%;
}

.modal-overlay .modal-body input {
    padding: 12px;
    border: 2px solid #c6c5c5;
    color: rgba(0, 0, 0, 0.9);
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.modal-overlay .modal-body label {
    color: #242424;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overlay .modal-body .btn-secondery {
    width: 100%;
    margin-top: 16px;
    padding: 12px;
    background-color: #3a44f8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.modal-overlay .modal-body .btn-secondery:hover {
    background-color: #2a34d8;
    transform: scale(1.02);
}

.modal-overlay .modal-body .modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-overlay .modal-body .modal-header button {
    padding: 8px;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
}
