.scrollContainer {
    position: relative;
    font-family: 'questrial', sans-serif;
}

.scrollableCardList {
    max-height: calc(100vh - 120px);
    height: 80vh;
    min-width: 60vh;
    overflow-y: auto;
    position: relative;
    direction: rtl;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.scrollableCardList h1 {
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.fixedSearchBar {
    position: relative;
}

.scrollableCardList > div {
    direction: ltr;
}

.card {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .scrollableCardList {
        max-width: 100vw;
        max-height: calc(100vh - 100px);
        padding: 5px 10px;
    }

    .card {
        max-width: 100%;
    }
}
